
.vs/intersection-rayon-sphere/v16/Browse.VC.opendb
Debug/
.vs/intersection-rayon-sphere/v16/Browse.VC.db
*.ipch
x64/Release/*
.vs/Ray-Tracing/v16/Browse.VC.opendb
.vs/Ray-Tracing/v16/Browse.VC.db-shm
.vs/Ray-Tracing/v16/Browse.VC.db-wal
